#Blog父模块
.idea
/target/
/out/
/Blog.iml

#Blog-base模块
/Blog-base/target/
/Blog-base/Blog-base.iml

#Blog-core模块
/Blog-core/target/
/Blog-core/Blog-core.iml

#Blog-web模块
/Blog-web/target/
/Blog-web/Blog-web.iml
/Blog-web/src/main/webapp/WEB-INF/logs/

#去除jrebel配置
*rebel.xml*


