body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, .form-title {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.form-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.col-centered{
    float: none !important;
    margin: 0 auto;
}
.col-no-padding{
    padding: 0px;
}
.col-sm-padding{
    padding: 0px 6px;
}