#set( $title="velocity学习"  )
#set( $author="lvxi"  )
<html>
<head>
    <title>$title</title>
</head>
<body>
<h1>$signal</h1>

<h1>hello,velocity.</h1>
<h4>author:$author $!llll</h4>
<h4>$author</h4>
##    #set($foo="lvxi")
##    #if( $foo )
##    <strong>Velocity!</strong>
##    #end
#####elseif($foo=="lvxi")
####<strong>lvxi Velocity!</strong>
#####end
</body>
</html>
